---
import { type CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
---

<head>
	<!-- Google tag (gtag.js) -->
	<script src="google_analytics_config.js"></script>
	<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=$G-9KK0ETTG3X'"></script>
	<script type="text/partytown">
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-9KK0ETTG3X');
	</script>
</head>
<BlogPost {...post.data}>
	<div class="font-serif text-me sm:text-me">
		<Content />

	</div>
	

</BlogPost>
