---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import BlogCard from '../components/BlogCard.astro';
import Contactame from '../components/Contactame.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
<head>
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

	<div class="bg-tango-100">

	<body class="bg-tango-100">
			<Header class="bg-tango-100"/>

	<div class="my-96">
		<Hero></Hero>
	</div>
	
	<div class="my-96">
		<BlogCard/>
	</div>

	<div class="my-96">
		<Contactame />
	</div>

	
	
	<Footer />
	</div> 

		<script>
			declare global{
				interface Window {
					netlifyIdentity: any;
				}
			}

			if (window.netlifyIdentity) {
			  window.netlifyIdentity.on("init", (user: any) => {
				if (!user) {
				  window.netlifyIdentity.on("login", () => {
					document.location.href = "/admin/";
				  });
				}
			  });
			}
		  </script>
		  	
</body>
</html>
